body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }


#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

.homepage{
	background-color: #d3e8d3;
}

.title{
	font-size: 20px;
	padding: 50px;
	text-align: center;
	background-color: #ffffff;
}

.lottie-player-container{
    vertical-align: middle;
}

.text{
	align-items: center;
	margin: 0 auto;
	width: 1130px;
	justify-content: space-around;
}

hr {
	border: 0;
	border-top: 2px solid black;
  }

.title-box{
	background-color: aquamarine;
	padding: 10px;
	border-radius: 20px;
}

.topnav{
	padding: 10px 0 8px 0;
}

.topnav ul{
	list-style-type: none;
    overflow: hidden;
    display: block;
}

.topnav li{
	display: inline-flex;
	padding: 0 13px;
	font-size: 18px;
}

.topnav li a{
	color: black;
	text-decoration: none;
}

.topnav li a:hover{
	color: green;
	cursor:pointer;
	font-weight: 900;
}


